<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Movie</title>
  </head>
  <body>
    <h1>Add a New Movie To "<%=genre.name%>" Genre</h1>
    <form action="/genres/<%=genre.name%>" method="POST">
      <div>
        <label for="title">Movie Title:</label>
        <input type="text" id="title" name="title" required />
      </div>
      <div>
        <label for="releaseYear">Release Year:</label>
        <input type="number" id="releaseYear" name="releaseYear" required />
      </div>
      <div>
        <label for="director">Director:</label>
        <input type="text" id="director" name="director" required />
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea
          id="description"
          name="description"
          rows="4"
          required
        ></textarea>
      </div>
      <button type="submit">Add Movie</button>
    </form>
  </body>
</html>
